.button{
  color: white;
  font-size: 22px;
}
.active{

}

.container{
  position: relative;
}

.hr{
  position: absolute;
  width: 100%;
  height: 1px;
  color: #f65261;
  background-color: #f65261;
}