{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-throw-literal": 0,
    "import/no-cycle": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-props-no-spreading": 0
  }
}