.container{
  width: 320px;
  height: 550px;
  color: #999999;
  position: relative;
}

.container:hover .settings{
}

.img{
  height: 85%;
  margin-bottom: 20px;
}

.nameYearWrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.name{
  font-size: 22px;
}

.year{
  font-size: 20px;
  border: solid 1px #555555;
  padding: 1px 10px;
  border-radius: 3px;
}

.genre{
  font-size: 18px;
}

.settings{
  position: absolute;
  right: 10px;
  top: 10px;
}