.container{
  display: flex;
  flex-direction: column;
  background-color: #232323;
  color: white;
  align-items: center;
}
.netflixroulette{
  margin-left: 5rem;
}
.notFound{
  font-size: 2.5rem;
  margin-top: 10rem;
}
.number{
  font-size: 10rem;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 7rem;
}
.button{
  color: #f65261;
  padding: 1rem;
  border: solid 2px;
  border-radius: 7px;
  margin-bottom: 13rem;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  align-self: baseline;
}